%header.TopPageHeader
  - if user_signed_in?
    %div
      テストユーザー
    %div
      = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    %div
      = link_to image_tag('logo.png', alt: 'mschool'), "#"
      = link_to "ログイン", new_user_session_path
      = link_to "新規登録", new_user_registration_path

.GuidesMain
  Mschoolはオンラインの音楽教室です。

  .GuidesMain__Select
    習いたい楽器を検索
  - form_with model: @course, url:"#", local: true do |f|
    = f.text_field :category, autofocus: true, class: "CourseInputForm"
    = f.submit