%header.TopPageHeader
  - if user_signed_in?
    %div
      テストユーザー
    %div
      = link_to "ログアウト", destroy_user_session_path, method: :delete
  - else
    %div
      = link_to image_tag('logo.png', alt: 'mschool'), "#"
      = link_to "ログイン", new_user_session_path
      = link_to "新規登録", new_user_registration_path

.GuidesMain
  Mschoolはオンラインの音楽教室です。

  = form_with url: search_corrections_path, method: :GET, class: "TextbookBox__Search", local: true do |f|
    = f.text_field :OCR, class: "TextbookBox__Search__Form"
    .TextbookBox__Search__Icon
      = button_tag type: 'submit', class: "TextbookBox__Search__Icon__Image" do
        = icon('fa', 'search', class: "TextbookBox__Search__Icon__Image__Glasses")

  .GuidesMain__Select
    習いたい楽器を検索
  - form_with model: @course, url:"#", local: true do |f|
    = f.text_field :category, autofocus: true, class: "CourseInputForm"
    = f.submit